.wrapper {
    display:flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

body {
    width: 1000px; 
    /* removed margin:auto because it was messing with the positioning and size */
    background: lightcoral;
    padding: 5px;
}

#title {
    color: lightcyan;
}

main {
    width: 1800px;
}

img {
    width: 400px;
    height: auto;
    border-radius: 10%;
}

footer {
    margin-top: 40px;
}

footer button {
    padding: 20px;
    background-color: lightcyan;
    border-radius: 10%;
}

